@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');



h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #fcd1d1;
}

h2{
    font-size: 1.3rem;
}

body, html {
    width: 100%;
    background-color: #0c7b93;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FBFFFE;
    font-size: 1.2rem;
}

.disabled {
    display: none;
}

.container1 {
    width: 100%;
    display: block;

}

div, form {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
}

#left {
    flex-grow: 1;
    background-color: #27496d;
    max-width: 20%;
    min-height: 100vh;
    padding: 0 2rem 0 2rem;
}

#left .wrapper {
    flex-flow: column;
}

#left input {
    /*max-width: 9rem;*/
    width: 30%;
    opacity: 100%;
    color: #18253d;
}

#intro {
    margin-top: 10rem;
}

#right {
    flex-grow: 7;
    background-image: url("../img/1.jpg");
    background-position: center;
    min-height: 100vh;
    margin: auto;
    max-width:79.5%;

}
#right div {
    max-width: 80%;
    margin: auto;
    word-wrap: break-word;
}

#logo {
    max-height: 5rem;
}

#logo img {
    height: 100%;
    margin-top: 1.5rem;

}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: purple;
    width: 100%;
    background-color: rgba(39,73,109,0.7);
    padding: 1rem;
}


@media only screen and (max-width: 860px) {
    .flex-container1 {
        display: block;
    }

    #left {
        min-width: 100%;
        max-height: 5%;
        min-height: 5%;
    }

    #left .wrapper {
        flex-flow: row;
        justify-content: space-between !important;
    }

    #left .form {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #logo img {
        width: 150px;
        margin: 0;
    }
  }


  @media only screen and (max-width: 500px) {
    #left {
        min-width: 100%;
        max-height: 3%;
        min-height: 3%;
    }

    #left .wrapper {
        flex-flow: row;
        justify-content: space-between !important;
    }

    #logo img {
        width: 80px;
        margin: 0;
    }

    #left input {
        max-width: 100px;
    }
  }
